<div class="flex w-full h-full relative">
  <div class="bg-red-200 p-5 flex-col flex">
    <input type="text" />
    <table class="flex-1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Klasse</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <input id="topic" placeholder="Thema" />
    <input value="location" placeholder="Ort" />
    <input value="description" placeholder="Beschreibung" />
    <input type="button" value="Plan" placeholder="Plan" />
  </div>
  <div class="bg-blue-50 flex-1">asdfsa</div>
</div>
